


<div class="row">


  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(product.product_image, alt: product.title), product_path(product) %>
        <div class="caption">
          <h4><%= link_to product.title, product_path(product), class: 'title' %></h4>
          <p><strong>$<%= product.price %></strong>  </p>
          <% # show_add_to_cart is helper method defined in app/helper/app;icationhelper.rb and it repuires a product record as arrgument%>
          <% #  and direct to the cart dispalying interface. Additional hash argument is for setting a small botton styling class%>
         <p><%= show_add_to_cart product%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @products %>




