



  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <% if product.product_image.representable? %>
        <%= link_to image_tag(product.product_image.representation(resize_to_limit: [260, 260]).processed, class: 'media-object', alt: product.title), product_path(product) %>
        <% else %>
        <%= link_to image_tag("Product_placeholder.jpg", alt: product.title), product_path(product)  %></td>
        <% end %>
        <div class="caption">
          <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= link_to product.title, product_path(product), class: 'title' %></h4>
          <p><strong>$<%= product.price %></strong>  </p>
          <% # show_add_to_cart is helper method defined in app/helper/app;icationhelper.rb and it repuires a product record as arrgument%>
          <% #  and direct to the cart dispalying interface. Additional hash argument is for setting a small botton styling class%>
         <p><%= show_add_to_cart product%></p>
        </div>
      </div>
    </div>
  <% end %>
  <div style="text-align: center;">
    <%= will_paginate @products %>
  </div>
</div>

